@font-face {
    font-family: "ALS Sector Regular";
    src: url(../fonts/ALS\ Sector\ Regular\ Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "ALS Sector Bold";
    src: url(../fonts/ALSSectorBold-Bold.ttf); /* Путь к файлу со шрифтом */
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'ALS Sector Regular', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
  border: none;
  -moz-outline-style: none;
}
a,img,button,input {
	transition: .3s all ease;
}

.wrap {
	overflow: hidden;
}
.booster-sec {
	color: #fff;
}
.light .booster-sec {
	color: #000;
}
button,
span,
a {
	color: #fff;
}
.light button,
.light span,
.light a {
	color: #000;
}

.bg-color {
	background: #090A2B;
}
.light .bg-color {
	background: #EEEEEE !important;
	border-color: rgba(0, 0, 0, 0.12) !important;
}

.dark-color {
	color: #818C99;
}
.light .dark-color {
	color: #9EA6B0;
}

.nav-bg-dark {
	background: #0F1145;
}
.light .nav-bg-dark {
	border-bottom: 1px solid #ECECFF;
}

.dark-divider {
	border-bottom: 1px solid #0E1520;
}
.light .dark-divider {
	border-bottom: 1px solid #DFDFDF;
}

.dark-text {
	color: rgba(255, 255, 255, 0.57);
}
.light .dark-text {
	color: #9EA6B0;
}

.dashboard-dark-bg {
	background: #090A2B;
}
.light .dashboard-dark-bg {
	background: #F9F9F9;
}

.dark-btn {
	background: #182F83;	
}
.light .dark-btn {
	background: #99AFFF;
}

.light th,
.light td {
	color: #000;
}
th,
td {
	color: #fff;
}

/* /// */
.booster-block,
.booster-col {
	height: 100%;
}
.booster-side-col {
	padding: 24px 18px;
	background: #080325;
	height: 100%;
	max-width: 300px;
}
.light .booster-side-col {
	background: #fff;
}
.booster-side {
	width: 100%;
	height: 100%;
}
.booster-side .side-top {
	margin-bottom: 20px;
}
.booster-side .side-logo {
	text-align: center;
	margin-bottom: 48px;
}
.light .booster-side .side-logo .dark-logo,
.booster-side .side-logo .light-logo {
	display: none;
}
.light .booster-side .side-logo .light-logo {
	display: block;
}
.booster-side .side-wallet .wallet-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 12px;	
	border: 0.5px solid #351D52;
	border-radius: 10px;
	margin-bottom: 10px;
}

.booster-side .side-wallet a span.copy-link {
	display: flex;
	align-items: center;
}
.booster-side .side-wallet a span.copy-link span {
	font-size: 14px;
	line-height: 20px;
	margin-left: 10px;
}

.booster-side .side-top .dropdown button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.5px solid #351D52;
	border-radius: 10px;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 12px;
	width: 100%;
	margin-bottom: 16px;
}
.booster-side .side-top .dropdown button i {
	display: flex;
	transition: .3s all ease;
}
.booster-side .side-top .dropdown button.show i {
	transform: rotate(-180deg);
}
.dropdown-toggle::after {
	content: none;
}
.booster-side .side-top .dropdown .dropdown-menu {
	min-width: 100%;
	background: #090A2B;
	border: 0.5px solid #351D52;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
}
.light .booster-side .side-top .dropdown .dropdown-menu {
	background: #EEEEEE;
	border-color: rgba(0, 0, 0, 0.12);
}
.booster-side .side-top .dropdown .dropdown-menu li a {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}
.light .booster-side .side-top .dropdown .dropdown-menu li a {
	color: #000;
}
.booster-side .side-top .dropdown .dropdown-menu li a:focus,
.booster-side .side-top .dropdown .dropdown-menu li a:hover {
	background: transparent;
	color: #818C99;
}

.booster-side .side-top .crypto-price {
	text-align: center;
}
.booster-side .side-top .crypto-price p {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
}
.booster-side .side-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.booster-side .side-nav li {
	overflow: hidden;
	border-radius: 8px 0px 0px 8px;
}
.booster-side .side-nav li a {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 12px 20px;
}
.booster-side .side-nav li a .text {
	display: flex;
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 20px;
}

.side-nav li {
	margin-bottom: 10px;
}
.side-nav li:last-child {
	margin-bottom: 0;
}
.side-nav li.active {
	margin-right: -18px;
}
.side-nav li.nav-bg-dark a {
	background: #0F1145;
	border-right: 3px solid #4F46E5;
}
.light .side-nav li.nav-bg-dark a {
	background: #ECECFF;
}
.side-nav .active.dark-color span {
	color: #fff;
}
.booster-side .side-nav li a .icon,
.booster-side .side-nav a img {
	margin-right: 16px;
	display: flex;
}
.light .booster-side .side-nav li a .icon svg path {
	fill: #207DFF;
}

.booster-side .nav-pills {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 24px 0 20px;
}
.booster-side .nav-pills .nav-link {
	padding: 0 0 4px 0;
	border-bottom: 2px solid transparent;
	border-radius: 2px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.32px;
}
.booster-side .nav-pills .nav-link.active,
.booster-side .nav-pills .show>.nav-link {
	border-color: #4F46E5;
	background: transparent;
}
.light .booster-side .nav-pills .nav-link.active,
.light .booster-side .nav-pills .show>.nav-link {
	color: #000;
}
.booster-side .nav-pills .nav-link:hover {
	color: inherit;
}
ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.side-tab {
	padding-bottom: 30px;
}
.side-tab li {
	margin-bottom: 10px;
	border-radius: 8px;
}
.side-tab li a {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px 16px;
}
.side-tab li a span {
	display: flex;
}
.side-tab li a .text {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}
.side-tab li a .coin-icon {
	margin-right: 16px;
}
.side-tab li a .coin-icon img {
	z-index: 2;
}
.side-tab li a .coin-icon img:nth-child(2) {
	margin-left: -8px;
	z-index: 1;
}
.side-tab li a i {
	transition: .3s all ease;
	margin-left: auto;
	opacity: 0;
}
.light .side-tab li a i svg path {
	stroke: #207DFF;
}
.side-tab li:hover,
.side-tab li.active {
	background: #0F1145;
}
.light .side-tab li:hover,
.light .side-tab li.active {
	background: #ECECFF;
}
.side-tab li:hover a i,
.side-tab li.active a i {
	opacity: 1;
}

.side-swap {
	margin-top: 10px;
}
.side-swap > a {
	padding: 12px 20px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.side-swap > a:last-child {
	margin-bottom: 0;
}
.side-swap > a img {
	margin-right: 16px;
}
.side-swap > a .text {
	display: flex;
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 19px;
}
.side-swap > a:hover .text {
	color: #fff;
}
.light .side-swap > a:hover .text {
	color: #000;
}

.side-socials {
	margin: 50px 20px 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 12px;
	padding: 10px 16px;
}
.light .side-socials {
	background: rgba(0, 0, 0, 0.08);
}
.light .side-socials a svg path {
	fill: #000;
}
.side-socials a {
	margin-right: 20px;
}
.side-socials a:last-child {
	margin-right: 0;
}
.side-socials a:hover {
	transform: scale(1.1);
}
/* end sidebar */





.booster-sec {
	background: #03011D;
}
.light .booster-sec {
	background: #F2F2F2;
}
.booster-main {
	padding: 40px 15px 100px;
}
.booster-main .booster-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.booster-main .my-position .my-title h2,
.booster-main .booster-title h2 {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.015em;
}
.light .my-position .my-title h2,
.light .booster-title h2,
.light .performens-title h2,
.light .booster-history .booster-history-title h2,
.light .uniswap-title h2 {
	color: #1c1c1c;
}
.booster-main .booster-title h2 img {
	margin-left: 20px;
}
.booster-main .token-items {
	border: 1px solid rgba(255, 255, 255, 0.03);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 18px 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.booster-main .token-items > span {
	display: inline-block;
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
}
.booster-main .token-items .total-token {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.booster-main .token-items .total-token span {
	font-size: 14px;
	line-height: 19px;
}
.booster-main .token-items .total-token span img {
	margin-right: 6px;
}
.booster-main .token-items p {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 24px;
	line-height: 20px;
}
.booster-main .token-items .total-token p {
	font-size: 14px;
	line-height: 20px;
}
/* /// */
.booster-main .my-position .my-title {
	margin: 40px 0 20px;
}
.position-item {
	padding: 18px;
	border: 1px solid rgba(255, 255, 255, 0.03);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
}
.position-item.my-balance i.blur {
	display: block;
	width: 45px;
	height: 6px;
	position: absolute;
	left: 14px;
	top: 33px;
	background: #98C734;
	filter: blur(21.5px);
}
.position-item.earned-fees i.blur {
	display: block;
	width: 66px;
	height: 39px;
	position: absolute;
	left: 18px;
	top: 33px;
	background: rgba(32, 125, 255, 0.29);
	filter: blur(21.5px);
}
.light .position-item i.blur {
	display: none;
}
.position-item:last-child {
	margin-bottom: 0;
}
.position-item .balance-item-title {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}
.position-item .balance-item-title img {
	margin-right: 10px;
}
.position-item .balance-item-title span {
	display: flex;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.015em;
}
.position-item h2 {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 26px;
}
.position-item h4 {
	font-size: 16px;
	line-height: 20px;
}
.earned-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}
.earned-info:last-child {
	margin-bottom: 0;
}
.earned-info span {
	display: flex;
	align-items: center;
}
.earned-info span,
.earned-info p {
	font-size: 16px;
	line-height: 20px;
}
.earned-info span img {
	margin-right: 6px;
}
/* / */
.my-position-tab {
	padding: 24px 20px;
	border: 1px solid rgba(255, 255, 255, 0.03);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
}
.my-position .nav-tabs .nav-link:focus,
.my-position .nav-tabs .nav-link:hover {
	border-color: transparent;
	isolation: unset;
	color: #fff;
}
.light .my-position .nav-tabs .nav-link:focus,
.light .my-position .nav-tabs .nav-link:hover  {
	color: #000;
}
.my-position .nav-tabs {
	border: none;
	justify-content: center;
	margin-bottom: 20px;
}
.my-position .nav-tabs .nav-link {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.32px;
	padding: 4px 20px;
	margin-right: 45px;
	border:none;
	border-bottom: 2px solid transparent;
}
.my-position .nav-tabs .nav-link:last-child {
	margin-right: 0;
}
.my-position .nav-tabs .nav-item.show .nav-link,
.my-position .nav-tabs .nav-link.active {
	background: transparent;
	border-bottom: 2px solid #4F46E5;
	color: #fff;
}
.light .my-position .nav-tabs .nav-item.show .nav-link,
.light .my-position .nav-tabs .nav-link.active {
	color: #000;
}

.my-position .add-col {
	position: relative;
}
.my-position .add-col .blur {
	width: 72px;
	height: 64px;
	background: #207DFF;
	filter: blur(90px);
	position: absolute;
	top: 126px;
	left: 96px;
	z-index: 1;
}
.light .my-position .add-col .blur{display: none;}
.my-position .add-block {
	margin-bottom: 12px;
}
.my-position .add-block.one {
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	padding-bottom: 20px;
}
.light .my-position .add-block.one {
	border-color: rgba(0, 0, 0, 0.08);
}
.my-position .add-max {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.my-position .add-max:last-child {
	margin-bottom: 0;
}
.my-position .add-max input {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 20px;
	line-height: 20px;
	background: transparent;
	border: none;
	color: #fff;
	width: 80%;
}
.light .my-position .add-max input::placeholder,
.light .my-position .add-max input {
	color: #000;
}
.my-position .add-max input::placeholder {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
	font-family: "ALS Sector Bold";
}
.my-position .add-max .add-balance {
	display: flex;
	align-items: center;
}
.my-position .add-max .add-balance .max {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	background: rgba(162, 147, 255, 0.08);
	border-radius: 25px;
	padding: 4px 10px;
	margin-right: 12px;
}
.my-position .add-max .add-balance .max:hover {
	color: #fff;
}
.light .my-position .add-max .add-balance .max:hover {
	color: #000;
}
.my-position .light .add-max .add-balance .max {
	background: rgba(162, 147, 255, 0.08);
}
.my-position .add-max .add-balance p {
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 20px;
}
.my-position .add-max .add-balance p span {
	margin-left: 5px;
}
.my-position .add-crypto h5 {
	font-size: 13px;
	line-height: 20px;
}
.my-position .add-crypto p .text {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 20px;
}
.my-position .add-crypto p img {
	margin-right: 6px;
}
.my-position .add-btns {
	display: flex;
	align-items: center;
}
.my-position .add-btns button {
	width: 100%;
	padding: 6px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.15px;
	background: #182F83;
	border-radius: 8px;
	border: none;
	color: #fff;
}
.my-position .add-btns button:hover {
	background: #011768;
}
.my-position .add-btns button:first-child {
	margin-right: 6px;
}
.my-position .add-btns button:last-child {
	margin-left: 6px;
}
.my-position .light .blur {
	display: none;
}
/* /// */

.my-position .center-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 110px;
	width: 40px;
	background: linear-gradient(270deg, rgba(32, 125, 255, 0.08) 0%, rgba(140, 48, 245, 0.03) 100%);
	background: -webkit-linear-gradient(270deg, rgba(32, 125, 255, 0.08) 0%, rgba(140, 48, 245, 0.03) 100%);
	background: -moz-linear-gradient(270deg, rgba(32, 125, 255, 0.08) 0%, rgba(140, 48, 245, 0.03) 100%);
	border: 1px solid rgba(49, 92, 233, 0.14);
	border-radius: 10px;
	margin: 30px auto 0;
}
/* // */
.my-position .add-booster {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.my-position .add-booster-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	margin-bottom: 38px;
}
.light .my-position .add-booster-top img {
	display: none;
}
.light .my-position .add-booster-top img.mob {
	display: block;
}
.my-position .add-booster-top .add-booster-number {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.my-position .add-booster-top .add-booster-number input {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 18px;
	color: #fff;
	background: transparent;
	border: none;
	height:auto;
	padding: 0;
}
.my-position .add-booster-top .add-booster-number input::placeholder {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 24px;
	line-height: 20px;
	color: #fff;
}
.light .my-position .add-booster-top .add-booster-number input::placeholder,
.light .my-position .add-booster-top .add-booster-number input {
	color: #000;
}
.my-position .add-booster-top .add-booster-number span {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
}

.my-position .add-booster-balance p {
	text-align: right;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 16px;
}
.my-position .add-booster-balance button {
	width: 100%;
	padding: 11px;
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.41px;
	background: #8C30F5;
	border-radius: 10px;
	border: none;
	color: #fff;
}
.my-position .add-booster-balance button:hover {
	background: #6c0dd9;
}

.my-position .withdraw-block {
	padding: 20px;
	background: #0F1032;
	border: 1px solid rgba(32, 125, 255, 0.08);
	border-radius: 10px;
	height: 100%;
	z-index: 2;
	position: relative;
}
.light .my-position .withdraw-block {
	background: #fff;
}
.my-position .withdraw-block .withdraw-token {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 14px;
}
.my-position .withdraw-block .withdraw-token h3 {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 20px;
	line-height: 20px;
}
.my-position .withdraw-block .withdraw-token p {
	font-size: 13px;
	line-height: 20px;
}
.my-position .withdraw-amount .amount-title > span {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: -0.15px;
	margin-bottom: 10px;
}



/* custom input type range */
.withdraw-amount .range-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.withdraw-amount .amount-range h4 {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 41px;
	line-height: 36px;
	color: #F4F4F4;
}
.light .withdraw-amount h4 {
	color: #000;
}
.amount-percents {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.amount-percents span {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 13px;
	background: rgba(162, 147, 255, 0.08);
	border-radius: 25px;
	padding: 6px 16px 5px;
	cursor: pointer;
}
.amount-percents span:hover {
	color: #fff;
}
.light .amount-percents span:hover {
	color: #000;
}
.withdraw-amount h4:after {
  content: "%";
  padding-left: 1px;
}
.my-position input[type=range] {
	outline: 0;
	border: 0;
	width: 100%;
	background: #3F8AE0;
	border-radius: 1px;
	margin: 25px 0 18px;
	
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .my-position input[type=range] {
    /* overflow: hidden; */
    height: 2px;
    -webkit-appearance: none;
    background-color: #3F8AE0;
  }
  .my-position input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    -webkit-appearance: none;
    color: #444;
  }
  .my-position input[type=range]::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #3F8AE0;
    border-radius: 50%;
    position: relative;
	margin-top: -8px;
  }
  .my-position input[type=range]:active::-webkit-slider-thumb {
    background: #3F8AE0;
  }
}
.my-position input[type=range]::-moz-range-progress {
  background-color: #3F8AE0;
}
.my-position input[type=range]::-moz-range-track {
  background-color: #3F8AE0;
}
.my-position input[type=range]::-webkit-range-track {
	background-color: #3F8AE0;
  }
.my-position input[type=range]::-ms-fill-lower {
  background-color: #3F8AE0;
}
.my-position input[type=range]::-ms-fill-upper {
  background-color: #3F8AE0;
}

.my-position .withdraw-rov .center-arrow {
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -20px;
	margin: auto;
	background: linear-gradient(270deg, rgba(32, 125, 255, 0.08) 0%, rgba(140, 48, 245, 0.03) 100%);
	border: 1px solid rgba(49, 92, 233, 0.14);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 10px;
	z-index: 3;
}

.my-position .withdraw-right {
	margin-bottom: 10px;
}
.my-position .withdraw-right:last-child {
	margin-bottom: 0;
}
.my-position .withdraw-coin {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.my-position .withdraw-coin p.coin-name {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 20px;
}
.my-position .withdraw-coin .coin-name img {
	margin-right: 6px;
}
.my-position .withdraw-coin .withdraw-number {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.my-position .withdraw-coin .withdraw-number h3 {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 4px;
}
.my-position .withdraw-coin .withdraw-number span {
	display: block;
	font-size: 13px;
	line-height: 16px;
}
.my-position .withdraw-btns {
	margin-top: 25px;
}
.my-position .withdraw-btns button {
	width: 100%;
	padding: 11px;
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.41px;
	background: #8C30F5;
	border-radius: 10px;
	border: none;
	color: #fff;
}
.my-position .withdraw-btns button:hover {
	background: #6c0dd9;
}

/* performens-history */
.performens-history .performens-title h2 {
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.015em;
	margin: 40px 0 20px;
}
.performens-history .performens-graph img {
	width: 104%;
	margin-left: -25px;
	margin-top: -20px;
}

/* booster-history */
.booster-history .booster-history-title h2 {
	margin: 40px 0 20px;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.015em;
}

.booster-history .nav-tabs .nav-link:focus,
.booster-history .nav-tabs .nav-link:hover {
	border-color: transparent;
	isolation: unset;
	color: #fff;
}
.light .booster-history .nav-tabs .nav-link:focus,
.light .booster-history .nav-tabs .nav-link:hover  {
	color: #000;
}
.booster-history .nav-tabs {
	border: none;
	justify-content: center;
	margin-bottom: 20px;
}
.booster-history .nav-tabs .nav-link {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: -0.32px;
	padding: 4px 40px;
	margin-right: 45px;
	border:none;
	border-bottom: 2px solid transparent;
}
.booster-history .nav-tabs .nav-link:last-child {
	margin-right: 0;
}
.booster-history .nav-tabs .nav-item.show .nav-link,
.booster-history .nav-tabs .nav-link.active {
	background: transparent;
	border-bottom: 2px solid #4F46E5;
	color: #fff;
}
.light .booster-history .nav-tabs .nav-item.show .nav-link,
.light .booster-history .nav-tabs .nav-link.active {
	color: #000;
}


.booster-history .history-table {
	background: #060721;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-radius: 4px;
}
.light .booster-history .history-table {
	background: #fff;
}
.table {
	margin-bottom: 0;
}
.booster-history .history-table table thead tr th {
	font-weight: 700;
	font-family: "ALS Sector Bold";
	font-size: 14px;
	line-height: 150%;
	padding: 13px 16px;
	border: none;
}

.booster-history .history-table table tbody tr td {
	padding: 22px 16px;
	font-size: 14px;
	line-height: 150%;
	vertical-align: middle;
	border:none;
}
.booster-history .history-table table tbody tr.more-tr {
	display: none;
}
.booster-history .history-table table.active tbody tr.more-tr {
	display: table-row;
}

.booster-history .history-table table .history-coin-td {
	display: flex;
	align-items: center;
}
.booster-history .history-table table .history-coin-td img {
	margin-right: 16px;
}
.booster-history .history-table table .history-coin-td span {
	font-size: 14px;
	line-height: 150%;
}
.light .booster-history .history-table table tbody tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.booster-history .load-more {
	text-align: center;
	margin-top: 25px;
}
.booster-history .load-more a {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -0.24px;
	color: #3F8AE0;
	border: 1px solid #3F8AE0;
	border-radius: 10px;
	padding: 8px 10px;
}
.booster-history .load-more a:hover {
	background: #3F8AE0;
	color: #fff;
}
.table>:not(:first-child) {
	border-top: 1px solid rgba(255, 255, 255, 0.08);
}
/* Uniswap v3 Pool */
.uniswap-sec .uniswap-title h2 {
	display: flex;
	align-items: center;
	margin: 40px 0 20px;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.015em;
}
.uniswap-sec .uniswap-title h2 img {
	margin-left: 20px;
}
.uniswap-sec .uniswap-graph img {
	margin-left: -25px;
	margin-top: -20px;
	width: 104%;
}

/* custom checkbox */
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 4px;
}
.light .control__indicator {
	border-color: #B8C1CC;
}
.control--radio .control__indicator {
  border-radius: 50%;
}

.control input:checked ~ .control__indicator {
  background: #2688EB;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #2688EB;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
	left: 6px;
	top: 3px;
	width: 6px;
	height: 10px;
	border: solid #090A2B;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.light .control--checkbox .control__indicator:after {
	border-color: #fff;
}

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
/* // */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* ============================= */
























.pl-10 {
	padding-left: 10px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-5 {
	padding-right: 5px;
}
.pl-5 {
	padding-left: 5px;
}

.mob {display: none;}


@media only screen and (max-width: 1400px) {
	.booster-main .token-items .total-token p {
		font-size: 12px;
	}
	.booster-main .token-items p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1200px) {
	.booster-main .token-items .total-token p {
		font-size: 14px;
	}
}


@media only screen and (max-width: 576px) {
	.pc {display: none;}
	.mob {display: block;}
	/* /// */
	.booster-side-col {
		max-width: 100%;
	}
	.pl-10 {
		padding-left: 15px;
	}
	.pr-10 {
		padding-right: 15px;
	}
	.pl-5 {
		padding-left: 15px;
	}
	.pr-5 {
		padding-right: 15px;
	}
	/* /////////////////////// */
	.mob-block {
		text-align: center;
	}
	.mob-block .side-logo {
		margin-top: 60px;
	}
	.light .mob-block .dark-logo,
	.mob-block .light-logo {
		display: none;
	}
	.light .mob-block .light-logo {
		display: block;
	}
	.mob-block .mob-title h2 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 50px;
		line-height: 50px;
		letter-spacing: 0.015em;
		color: #207DFF;
		width: 240px;
		margin: 15px auto 50px auto;
	}
	.mob-block .mob-title h4 {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.015em;
		color: #fff;
	}
	.mob-block .mob-title p {
		font-size: 16px;
		line-height: 20px;
		width: 208px;
		margin: 30px auto auto auto;
	}
	.connect.mob-btn a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 10px;
		background: #8C30F5;
		border-radius: 10px;
		margin-top: auto;
		color: #fff;
	}
	.connect.mob-btn a:hover {
		color: #fff;
	}
	.connect.mob-btn a img {
		margin-right: 10px;
		margin-top: -5px;
	}
	.booster-side .side-logo {
		margin-top: 20px;
		margin-bottom: 0;
	}
	.connect-mob {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 80vh;
	}
	/* //////////////////////////// */
	.mob-sub-menu {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 56px;
		z-index: 10;
		transition: .5s all ease;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		width: 100%;
		background: #121026;
		padding: 5px 15px;
	}
	.light .mob-sub-menu {
		background: #F2F3F5;
		box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
	}
	.mob-sub-menu.active {
		height: 296px;
	}
	.mob-sub-menu .sub-menu-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.more-block {
		text-align: center;
		width: 100%;
	}
	.more-block .side-swap > a {
		padding: 12px 0;
		margin: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	}
	.for-mob.side-socials {
		background: transparent;
		padding: 0;
		margin: 25px 0;
		justify-content: center;
	}
	.mob-sub-menu .sub-menu-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.mob-sub-menu .sub-menu-item a {
		display: block;
		text-align: center;
	}
	.mob-sub-menu .sub-menu-item .icon {
		transition: .3s all ease;
	}
	.mob-sub-menu.active .sub-menu-item #mob-more .icon {
		transform: rotate(180deg);
	}
	.mob-sub-menu .sub-menu-item a span {
		display: block;
		text-align: center;
		font-size: 10px;
		line-height: 12px;
		text-align: center;
		letter-spacing: 0.015em;
		margin-top: 5px;
	}
	.active-overview .sub-menu-item a .dark-color,
	.mob-sub-menu .sub-menu-item.active a .dark-color {
		color: #207DFF;
	}
	.active-overview .sub-menu-item a .icon svg path,
	.mob-sub-menu .sub-menu-item.active a .icon svg path {
		fill: #207DFF;
	}
	/* ============================== */
	.welcome-modal,
	.connect-modal {
		color: #fff;
		top: auto;
		bottom: 0;
	}
	.light .welcome-modal,
	.light .connect-modal {
		color: #000;
	}
	.welcome-modal .modal-dialog,
	.connect-modal .modal-dialog {
		margin: auto 8px 30px 8px;
		position:fixed;
		width: 96%;
		top:auto;
		right:auto;
		left:auto;
		bottom:0;
		z-index: 102;
	}
	.connect-modal .modal-header .close-modal {
		position: absolute;
		right: 12px;
		top: 12px;
		padding: 0;
		border: none;
		background: transparent;
		z-index: 2;
	}
	.connect-modal .modal-header {
		border: none;
	}
	.welcome-modal .modal-body,
	.connect-modal .modal-header,
	.connect-modal .modal-body {
		padding: 0;
	}
	.welcome-modal .modal-content,
	.connect-modal .modal-content {
		padding: 20px 16px;
		background: #090A2B;
		border-radius: 18px;
	}
	.light .welcome-modal .modal-content,
	.light .connect-modal .modal-content {
		background: #fff;
	}
	.connect-modal .connect-top {
		text-align: center;
	}
	.connect-modal .connect-top .connect-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 72px;
		height: 72px;
		background: #141541;
		border: 0.5px solid rgba(255, 255, 255, 0.08);
		border-radius: 36px;
		margin-left: auto;
		margin-right: auto;
	}
	.light .connect-modal .connect-top .connect-img {
		background: rgba(32, 125, 255, 0.09);
	}
	.welcome-modal .welcome-top h3,
	.connect-modal .connect-top h3 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.38px;
		margin: 18px 0;
	}
	.connect-modal .connect-btns a {
		display: flex;
		align-items: center;
		padding: 10px 16px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.38px;
		background: rgba(255, 255, 255, 0.02);
		border-radius: 12px;
		margin-bottom: 10px;	
	}
	.connect-modal .connect-btns a:last-child {
		margin-bottom: 0;
	}
	.connect-modal .connect-btns a img {
		margin-right: 10px;
	}
	.light .connect-modal .connect-btns a {
		background: rgba(0, 0, 0, 0.03);
	}
	/* welcome moda */
	.welcome-modal .welcome-text {
		padding: 16px 7px;
		background: rgba(255, 255, 255, 0.03);
		border-radius: 12px;
		margin-bottom: 20px;
	}
	.light .welcome-modal .welcome-text {
		background: rgba(0, 0, 0, 0.03);
	}
	.welcome-modal .welcome-text ul {
		list-style: disc;
		padding-left: 22px;
		margin-bottom: 24px;
	}
	.welcome-modal .welcome-text ul:last-child {
		margin-bottom: 0;
	}
	.welcome-modal .welcome-text ul li,
	.welcome-modal .welcome-text p {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -0.15px;
	}
	.welcome-modal .welcome-top h3 {
		text-align: center;
		margin-top: 0;
	}
	.welcome-modal .welcome-btns button {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		padding: 10px 16px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.38px;
		background: #8C30F5;
		border-radius: 12px;
		border: none;
		color: #fff;
	}
	.welcome-modal .welcome-btns button[disabled] {
		cursor: not-allowed;
		opacity: .4;
	}
	.welcome-modal .welcome-btns button img {
		margin-right: 10px;
	}
	
	.welcome-modal .welcome-check .control span {
		display: inline-block;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: -0.24px;
		padding-right: 5px;
	}
	.welcome-modal .welcome-check .control span a {
		text-decoration: underline;
	}
	.welcome-modal .welcome-check .control span a {
		display: unset;
	}
	/* ////////// */
	.hello-block .my-title h2 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.38px;
	}
	.hello-block .my-title p {
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.38px;
		opacity: 0.6;
		margin-bottom: 14px;
	}
	/* ------------------------------ */
	.booster-sec {
		margin-bottom: 55px;
		background: #050314;
	}
	.light .booster-sec {
		background: transparent
	}
	body,
	.booster-side-col {
		background: #050314;
	}
	body.light,
	.light .booster-side-col {
		background: #F8F8F8;
	}
	.booster-main {
		padding: 0;
	}
	/* html,
	body,
	.wrap,
	.main,
	.booster-sec,
	.booster-side-col {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	} */
	/* .booster-col {
		padding-bottom: 60px;
	} */
	/* .booster-sec {
		padding-bottom: 100px;
	} */

	.for-mob.side-swap,
	.for-mob.side-socials {
		display: block;
	}

	.booster-main,
	.mob-position,
	.my-position.hide,
	.booster-side-col.hide,
	.hello-block,
	.mob-block.hide,
	.booster-sec .uniswap-sec,
	.booster-sec .booster-history,
	.booster-sec .performens-history,
	.booster-sec .my-position,
	.booster-sec .booster-content,
	.booster-side .side-nav,
	.side-tab-block,
	.side-swap,
	.side-socials,
	.booster-side .side-top {
		display: none;
		/* height: 0; */
	}
	
	/* .booster-sec .my-position.show, */
	.hello-block.show,
	.booster-sec .performens-history.show,
	.booster-side .side-top.show {
		display: block;
		height: auto;
	}

	.mob {width: 100%;}
	.active-overview .side-top,
	.active-overview .performens-history,
	.active-overview .hello-block {
		display: block;
		height: auto;
		width: 100%;
	}
	.active-pools .booster-side .side-logo {
		display: none;
	}
	.active-pools .side-tab-block {
		display: block;
	}
	.side-tab-block .pools-title h2 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 24px;
		line-height: 25px;
		letter-spacing: 0.015em;
		margin-bottom: 25px;
	}
	.side-tab-block .mob-pools-block input {
		color: #818C99;
		background-color: #121026;
		border-radius: 10px;
		border: 1px solid transparent;
		padding: 7px 12px 7px 36px;
		width: 100%;
		background-image: url('../images/pool-search-icon.svg');
		background-repeat: no-repeat;
		background-position: left 12px top 12px;
	}
	.side-tab-block .mob-pools-block input::placeholder {
		font-size: 17px;
		line-height: 22px;
		letter-spacing: -0.41px;
	}
	.light .side-tab-block .mob-pools-block input {
		background-color: #EEEEEE;
		border: 1px solid rgba(0, 0, 0, 0.12);
		color: #000;
	}
	.booster-side .nav-pills .nav-link {
		padding: 0 20px 4px 20px;
	}
	.side-tab li {
		border-radius: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	}
	.side-tab li:last-child {
		border: none;
	}
	.side-tab li a {
		padding: 8px 0;
	}
	.side-tab li:hover,
	.side-tab li.active {
		background: transparent;
	}
	.side-tab {
		padding-bottom: 0;
	}
	.dark-divider {
		border: none;
	}
	/* / */
	.my-position.active {
		display: block;
	}
	.light .my-position.active {
		background: #F8F8F8;
	}
	.my-position .nav-tabs {
		flex-wrap: nowrap;
	}
	.my-position .nav-tabs .nav-link {
		white-space: nowrap;
		margin-right: 0;
		width: 100%;
	}
	.position-item:last-child {
		margin-bottom: 18px;
	}
	.active-overview .booster-main {
		display: block;
		padding-bottom: 20px;
	}
	/* /// */
	.active-pools .my-position,
	.active-pools .performens-history,
	.active-pools .uniswap-sec {
		display: block;
	}
	.active-pools .booster-main {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		padding: 13px 0;
		position: relative;
	}
	.active-pools .booster-main.active {
		display: flex;
	}
	.active-pools .mob-position {
		display: flex;
		align-items: center;
		text-align: center;
		padding: 13px 0;
		margin-bottom: 20px;
	}

	.active-pools .mob.one {
		order: 1;
	}
	.active-pools .my-position {
		order: 2;
		width: 100%;
	}
	.active-pools .booster-content {
		order: 3;
		margin-top: 40px;
	}
	.active-pools .performens-history {
		order: 4;
	}
	.active-pools .booster-history {
		order: 5;
	}
	.active-pools .uniswap-sec {
		order: 6;
	}
	.active-pools .mob {
		order: 7;
	}

	.active-pools .booster-content {
		display: block;
	}

	.my-position .withdraw-rov .center-arrow {
		position: unset;
		margin-top: -8px;
	}
	.my-position .withdraw-rov .add-col{
		margin-bottom: 14px;
	}
	.my-position .withdraw-rov .col-xl-6 {
		padding: 0;
	}
	.my-position .center-arrow,
	.center-arrow {
		margin: -10px auto;
		width: 107px;
		height: 32px;
		z-index: 2;
	}
	.arrow-col {
		z-index: 2;
	}
	.center-arrow img {
		transform: rotate(90deg);
	}

	.my-position-tab {
		background: transparent;
		border: none;
		padding: 24px 15px 0;
	}
	.my-position-tab .tab-rov .col-xl {
		background: #0F1032;
		border: 1px solid rgba(32, 125, 255, 0.08);
		border-radius: 10px;
		padding: 20px 15px;
	}
	.mob-position h2 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 21px;
		line-height: 26px;
		margin-right: auto;
	}
	.mob-position .back-position {
		margin-right: auto;
	}
	.my-position .add-booster-top {
		align-items: flex-start;
		margin-bottom: 20px;
	}

	.booster-main .token-items {
		margin-bottom: 10px;
		height: auto;
	}
	
	.booster-main .my-position .my-title {
		margin: 0 0 20px;
	}
	/* //////////////// */
	.active-history .booster-side-col {
		display: none;
	}
	.active-history .booster-main,
	.active-history .booster-history {
		display: block;
	}
	.booster-history .load-more a {
		display: block;
		padding: 13px;
		width: 100%;
		text-align: center;
	}
	.active-history {
		padding-bottom: 100px;
	}
	.booster-sec.start {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}
	.booster-main .my-position .my-title h2,
	.booster-main .booster-title h2,
	.performens-history .performens-title h2,
	.uniswap-sec .uniswap-title h2 {
		font-size: 24px;
		line-height: 1.2;
	}
	/* /// */
	.uniswap-sec .uniswap-graph img,
	.performens-history .performens-graph img {
		width: 100%;
		margin-left: -7px;
	}
	.booster-side .side-top,
	.booster-side .side-top .crypto-price p {
		margin-bottom: 0;
	}
	.light .dashboard-dark-bg {
		background: #fff;
	}
	.light .active-pools .my-position-tab {
		background: transparent;
		box-shadow: none;
		border: none;
		border-radius: 0;
	}
	.light .side-tab li:hover, .light .side-tab li.active {
		background: transparent;
	}
	.light .side-tab li {
		border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	}
	.light .side-tab li:last-child,
	.light .dark-divider {
		border: none;
	}
	.light .my-position-tab .tab-rov .col-xl {
		background: #fff;
	}
	.mob-title {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 20px;
	}
	.mob-title h2 {
		font-weight: 700;
		font-family: "ALS Sector Bold";
		font-size: 24px;
		line-height: 25px;
		letter-spacing: 0.015em;
	}
	.booster-main .booster-title h2 img {
		display: none;
	}
	#switch-mode {
		display: none;
	}
	.booster-main .booster-title {
		margin-bottom: 20px;
	}
	/* // */
	
}
















@media only screen and (max-width: 340px) {
	.mob-block .mob-title h2 {
		font-size: 42px;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	.mob-block .mob-title h4 {
		font-size: 20px;
		line-height: 1.2;
	}
}